appdirs==1.4.3
asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.3
constantly==15.1.0
cryptography==1.9
cssselect==1.0.1
idna==2.5
incremental==17.5.0
lxml==3.8.0
olefile==0.44
packaging==16.8
Pillow==4.1.1
pycparser==2.17
PyDispatcher==2.0.5
pyOpenSSL==17.0.0
pyparsing==2.2.0
pypng==0.0.18
requests==2.17.3
requests-futures==0.9.7
six==1.10.0
SQLAlchemy==1.1.10
tornado==4.5.1
urllib3==1.24.2
w3lib==1.17.0
zope.interface==4.4.1
